doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet", href="styles.css")
    body
        .container
            .register-container
                h1 Register
                form(action="/register", method="POST")
                    .form-group
                        label(for="username") Username:
                        input(type="text", name="username", id="username", required)
                    .form-group
                        label(for="email") Email:
                        input(type="email", name="email", id="email", required)
                    .form-group
                        label(for="password") Password:
                        input(type="password", name="password", id="password", required)
                    .form-group
                        label(for="confirm") Confirm Password:
                        input(type="password", name="confirm", id="confirm", required)
                    .form-group
                        button(type="submit") Register
                p
                    | Already have an account? 
                    a(href="/login") Login here